#container {
  display: flex;
  margin: 10px;
}

div>img {
  display: inline;
  width: 90%;
  margin:5px;
}

.holiday_message {
	margin-top: 20%;
	margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 6em;
  font-family: Garamond;
  text-align: center;
  color: red;
}

#kemin_logo {
  height: 90vh;
  margin: auto;
}